name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        profile: minimal
        toolchain: stable
        components: clippy
    - name: Build
      run: cargo build --all
    - name: Format
      run: cargo fmt --all -- --check
